@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


.product_container {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
}

.product_container div{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

