@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


.product_container {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
}

.product_container div{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product_container img{
    border-radius: 10px;
}

@media (max-width:360px) {
    .product_container{
        display: grid;
        margin: 0 auto 10px auto;
        gap: 30px;
    }
    
    .product_container img{
        width: 80vw;
    }

    .product_container div{
        gap: 20px;
    }
}

