@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.card_container{
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}

.card_container:hover{
    cursor: pointer;
}

.card_container img, h3{
    margin-bottom: 10px;
}