.cart_container {
    width: 60vw;
    margin: auto;
    font-family: 'Noto sans', sans-serif;
}

.content_table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 10px;
}

.content_table thead {
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.content_table tbody {
    text-align: center;
    align-self: center;
    vertical-align: middle;
    width: 50%;
}

.content_table tbody h3 {
    text-align: center;
    align-self: center;
    vertical-align: middle;
    padding-top: 85px;
}

main img {
    display: table-cell;
    float: left;
}

.price_container {
    float: right;
}

main div {
    width: 40%;
}