@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.form_container form {
   display: flex;
   align-items: center;
   gap: 20px;
   font-family: 'Noto Sans', sans-serif;
   flex-direction: column;
   margin-bottom: 50px;
}

.form_container div {
   width: 500px;
}

.form_container div img {
   width: 500px;
   object-fit: cover;
   border-radius: 10px;
}

.form_container .form_input_container {
   width: 500px;
   display: flex;
   flex-direction: column;
}

.form_container .form_input_container input[type=file] {
   border: none;
   padding: 0;
   height: auto;

}

.form_container .form_input_container input {
   
   margin-bottom: 10px;
}

@media (max-width:360px) {
   .form_container {
      margin-bottom: 50px;
   }

   .form_container form {
      display: grid;
   }

   .form_container div img {
      width: 80vw;
   }
}