@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f6f6;
}

header {
    font-family: Silkscreen, sans-serif;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

header .menu-toggle {
    display: none;
}

header h1 {
    margin-bottom: 10px;
}

header .search-area {
    position: relative;
    width: 100%;
}

header .search-area input {
    width: 100%;
    padding: 10px 60px 10px 10px;
    display: block;
}


header .search-area button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    z-index: 2;
}

header .search-area button img {
    width: 20px;
}

header nav {
    display: flex;
    gap: 20px;
}


header nav a {
    text-decoration: none;
    color: black;
}

main {
    width: 70vw;
    margin: auto;
    font-family: 'Noto sans', sans-serif;
}

main>h1 {
    margin-bottom: 20px;
}

main .container {
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
    margin-bottom: 40px;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: solid white 5px;
    border-radius: 10px;
}

.content-table thead {
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.content-table tbody {
    text-align: center;
}

.content-table tbody h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    display: table-cell;
    float: left;
}

.total {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    float: right;
    height: 75px;
}

.total tbody {
    text-align: right;
}

.total a {
    text-decoration: none;
}

#finalizar{
    width: 40%;
    padding: 10px 0px;
    background-color: dodgerblue;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: .5s;
    float: right;
    clear: both;
}

#finalizar:hover{
    box-shadow: 0px 0px 10px 5px hsl(210, 100%, 66%);
}

#adicionarItens{
    width: 40%;
    padding: 10px 0px;
    background-color: rgb(175, 183, 192);
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: .5s;
    float: left;
}

#adicionarItens:hover{
    box-shadow: 0px 0px 10px 5px rgb(154, 159, 165);
}

@media (max-width: 1000px) {

    header nav {
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 0;
        top: 13.5%;
        right: 0;
        height: 100vh;
        width: 40vw;
        z-index: 98;
        background: #fff;
        border-left: .5px solid grey;
        transform: translateX(100%);
        transition: .2s linear;
    }

    header nav.open {
        transform: translateX(0);
    }

    header nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        border-bottom: .5px solid grey;
    }

    header nav a:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.342);

    }

    header .menu-toggle {
        display: block;
        background: transparent;
        border: none;
    }

    header .menu-toggle:hover {
        cursor: pointer;
    }

    header .menu-toggle img {
        width: 30px;
    }

    main {
        width: 100%;
        padding: 20px;
    }

    main .container {
        flex-direction: row;
        gap: 25vw;
    }

}

@media (max-width: 790px){
    main .container{
        flex-direction: column;
    }
}