@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.products_container{
    display: flex;
    width: 80vw;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin: 0px auto;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.products_container .card_container {
    display: grid;
    grid-template-areas: '1 2 3';
    row-gap: 40px;
    width: 65vw;
}


.products_container .redirect_button{
    position: sticky;
    top: 129px;
    width: fit-content;
    height: fit-content;
    
}

.redirect_button button {
    background: rgb(255, 146, 86);
    background: linear-gradient(170deg, rgba(255, 146, 86, 1) 0%, rgba(255, 66, 0, 1) 100%);
    width: 100%;
    padding: 10px 0px;
    border: 2px solid rgb(255, 101, 44);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition-duration: .2s;
 }
 
 .redirect_button button:hover {
    box-shadow: 0px 0px 30px rgb(255, 101, 44);
    cursor: pointer;
 }
 
 .redirect_button button:active {
    box-shadow: none;
    background: linear-gradient(170deg, rgba(255, 146, 86, 1) 0%, rgba(255, 146, 86, 1) 100%);
 }


@media (max-width: 360px) {
    .products_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products_container .card_container{
        display: grid;
        grid-template-areas: '1';
    
    }
    
}